%h1 Listing pizzas

%table
  %tr
    %th Order
    %th Quantity
    %th Size
    %th Crust type
    %th
    %th
    %th

  - @pizzas.each do |pizza|
    %tr
      %td= pizza.order
      %td= pizza.quantity
      %td= pizza.size
      %td= pizza.crust_type
      %td= link_to 'Show', pizza
      %td= link_to 'Edit', edit_pizza_path(pizza)
      %td= link_to 'Destroy', pizza, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pizza', new_pizza_path
